/******************************************************************

Stylesheet: WordPress Classes

Classes output by WordPress to do all the WordPressy things

******************************************************************/

.wp-caption {
	margin-bottom: calc(1.5 * 1rem);
}

@media only screen and (min-width: 768px) {
	.wp-caption.aligncenter {
		position: relative;
		left: calc( calc(8 * (100vw / 12) - 28px) / 2);
		transform: translateX(-50%);
	}
}

@media only screen and (min-width: 1168px) {
	.wp-caption.aligncenter {
	left: calc( calc(6 * (100vw / 12) - 28px) / 2);
	}
}


.wp-caption img[class*="wp-image-"] {
	display: block;
}

.wp-caption-text {
	@extend small;
}


blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: ($global-margin / 2) $global-margin $global-margin 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: ($global-margin / 2) 0 $global-margin $global-margin;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: ($global-margin / 2);
	margin-bottom: $global-margin;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: $global-margin;
}

