/******************************************************************

Stylesheet: WordPress Classes

Classes output by WordPress to do all the WordPressy things

******************************************************************/

.wp-caption {
	img {
		@include thumbnail;
	}
	br { display: none; }
	.wp-caption-text {
		margin: -($global-margin / 2) 0 $global-margin 0;
		padding: 0 $global-padding;
		font-style: italic;
	}
}

.alignleft {
	display: inline;
	float: left;
}

.alignright {
	display: inline;
	float: right;
}

.aligncenter {
	display: block;
	margin-right: auto;
	margin-left: auto;
}


blockquote.alignleft,
.wp-caption.alignleft,
img.alignleft {
	margin: ($global-margin / 2) $global-margin $global-margin 0;
}

blockquote.alignright,
.wp-caption.alignright,
img.alignright {
	margin: ($global-margin / 2) 0 $global-margin $global-margin;
}

blockquote.aligncenter,
.wp-caption.aligncenter,
img.aligncenter {
	clear: both;
	margin-top: ($global-margin / 2);
	margin-bottom: $global-margin;
}

.wp-caption.alignleft,
.wp-caption.alignright,
.wp-caption.aligncenter {
	margin-bottom: $global-margin;
}

