/******************************************************************

Stylesheet: Sidebars and Widgets

Styles for sidebars and the widgets they contain

******************************************************************/


.sidebar {
	.widget {
		margin: $global-margin 0 ($global-margin * 2) 0; 

			.widget-title {}
			ul { margin: 0 0 $global-margin ($global-margin * 2); }
	}

	.widget_search {
		form {}
		label {
			text-transform: uppercase;
			font-size: rem-calc(11);
		}
		input#s {}
		input.button {}
	}

	.widget_calendar {
		#today { background-color: $primary-color; }
		td { text-align: center; }
	}

	.widget_nav_menu {
		ul { 
			margin: 0;
			background-color: $light-gray;
			
				li { 
					
					&.current-menu-item { font-weight: bold; }
					&.current-menu-parent > a { font-weight: bold; }
				}
				ul.sub-menu {}
		}
	}
	.widget_inti_image {}
	.widget_inti_flexvideo {}
	.widget_inti_social_links {
		ul.social-icons {
			margin: 0;
			list-style: none;
				li { display: inline-block; margin: 0 ($global-margin / 2); }
		}
	}
}

#sidebar {}
#sidebar-frontpage {}
#sidebar-footer {} 