/******************************************************************

Stylesheet: Footer

Styles for the site-footer and the components it is home to. The
footer can be wide or contained.

******************************************************************/

.site-footer {}
#site-footer-wide {}
#site-footer-contained {}

.footer-widgets {
	padding: $global-padding 0;
	background-color: $light-gray;

	#site-footer-contained & {
		@include xy-grid-container;
	}
}

.footer-menu { 
	background-color: $black; 

		ul.menu {
			a { color: $white; }
			li { display: inline-block; }
		}

	#site-footer-contained & {
		@include xy-grid-container;
	}
}

.footer-social { 
	padding: $global-padding 0;
	background-color: $light-gray; 

		ul { list-style: none;
			li { display: inline-block; }
			a { padding: 5px; }
		}
	#site-footer-contained & {
		@include xy-grid-container;
	}
}

.footer-info {
	background-color: $light-gray; 

		span.copyright {}
		span.site-credits {}

	#site-footer-contained & {
		@include xy-grid-container;
	}
}